<div class="box-clientsRegistration">
  <div class="movap-titulo">
    <h4 align="left">EDIÇÃO DE CLIENTES</h4>
    <hr>
  </div>

<!-- <form class="" action="/client/delete/{{client.id}}" method="post">
  <div class="form-group justify-content-start col-md-8 d-flex movap">
    <input type="submit" value="Deletar Cliente" class="btn btn-primary" >
  </div>
</form> -->
  <form action="/client/{{client.id}}" class="col-lg-10" method="post">
    <div class="form-group col-lg-8">
      <p class="movap-nomes" align="left">Código do Cliente</p>
      <input type="text" class="form-control" id="intentificação" name="client[codClient]" value="{{client.codClient}}">
    </div>
    <div class="form-group col-lg-8">
      <p class="movap-nomes" align="left">Razão Social</p>
      <input type="text" class="form-control" id="intentificação" name="client[corporateName]" value="{{client.corporateName}}">
    </div>
    <div class="form-group col-lg-8">
      <p class="movap-nomes" align="left">Nome Fantasia</p>
      <input type="text" class="form-control" id="intentificação" name="client[fantasyname]" value="{{client.fantasyname}}">
    </div>
    <div class="form-group col-lg-8">
      <p class="movap-nomes" align="left">CNPJ</p>
      <input type="number" class="form-control" id="intentificação" name="client[cnpj]" value="{{client.cnpj}}">
    </div>

  <div class="form-row pl-3">
      <div class="form-group col-lg-6 col-9">
        <p class="movap-nomes" align="left" for="inputAddress">Endereço</p>
        <input type="text" class="form-control" id="inputAddress" placeholder="" name="client[address][street]" value="{{client.address.street}}">
      </div>
      <div class="form-group col-lg-2 col-3 pr-4">
        <p class="movap-nomes" align="left">Número</p>
        <input type="number" class="form-control" name="client[address][number]" value="{{client.address.number}}">
      </div>
    </div>
    <div class="form-row pl-3">
      <div class="form-group col-lg-4 col-6 pr-2">
        <p class="movap-nomes" align="left">Cidade</p>
        <input type="text" class="form-control" id="inputCity" name="client[address][city]" value="{{client.address.city}}">
      </div>
      <div class="form-group col-lg-2 col-3 pr-2 pl-2">
        <p class="movap-nomes" align="left">Estado</p>
        <select id="inputEstado" class="form-control" value="{{client.address.state}}">
          <option selected>Escolher...</option>
          <option value="AC">AC</option>
          <option value="AL">AL</option>
          <option value="AP">AP</option>
          <option value="AM">AM</option>
          <option value="BA">BA</option>
          <option value="CE">CE</option>
          <option value="DF">DF</option>
          <option value="ES">ES</option>
          <option value="GO">GO</option>
          <option value="MA">MA</option>
          <option value="MT">MT</option>
          <option value="MS">MS</option>
          <option value="MG">MG</option>
          <option value="PA">PA</option>
          <option value="PB">PB</option>
          <option value="PR">PR</option>
          <option value="PE">PE</option>
          <option value="PI">PI</option>
          <option value="RJ">RJ</option>
          <option value="RN">RN</option>
          <option value="RS">RS</option>
          <option value="RO">RO</option>
          <option value="RR">RR</option>
          <option value="SC">SC</option>
          <option value="SP">SP</option>
          <option value="SE">SE</option>
          <option value="TO">TO</option>
        </select>
      </div>
      <div class="form-group col-lg-2 col-3 pr-4">
        <p class="movap-nomes" align="left">CEP</p>
        <input type="number" class="form-control" id="inputCEP" name="client[address][cep]" value="{{client.address.cep}}">
      </div>
    </div>
    <div class="form-group col-lg-8">
      <p class="movap-nomes" align="left">E-mail</p>
      <input type="email" class="form-control" id="intentificação" name="client[email]" value="{{client.email}}" readonly>
    </div>
    <div class="form-group col-lg-8">
      <p class="movap-nomes" align="left">Telefone</p>
      <input type="tel" class="form-control" id="intentificação" name="client[phone]" value="{{client.phone}}">
    </div>
    <div class="form-group col-lg-8">
      <p class="movap-nomes" align="left">Nome para contato</p>
      <input type="text" class="form-control" id="intentificação" name="client[nameContact]" value="{{client.nameContact}}">
    </div>
    <div class="form-group col-lg-8">
      <p class="movap-nomes" align="left">Status</p>
      <select class="form-control" id="exampleFormControlSelect1" name="client[status]" value="{{client.status}}">
        <option>Ativa</option>
        <option>Cancelada</option>
      </select>
    </div>
    <div class="form-group justify-content-start col-md-8 d-flex movap">
      <input type="submit" value="CONFIRMAR" class="btn btn-primary" >
    </div>

  </form>
  <br><br><br><br>
</div>
