<div class="movap-titulo">
  <h4 align="left">MOVIMENTAÇÃO DOS APARELHOS</h4>
  <hr>
</div>
<form action="/device/{{device.id}}" method="POST">
  <div class="form-group col-lg-4">
    <p class="movap-nomes" align="left">Número de Indentificação</p>
    <input type="text" class="form-control movap-boxcinza" id="intentificação" name="device[numId]" value="{{device.numId}}" readonly>
  </div>

  <div class="form-group col-lg-4">
    <p class="movap-nomes" align="left">Código do Cliente Responsável</p>
    <input type="text" class="form-control" id="intentificação" name="device[codClient]" value="{{client.codClient}}">
  </div>

  <div class="form-group col-lg-4">
    <p class="movap-nomes" align="left">Status</p>
    <select class="form-control" name="device[status]" placeholder="">
      <option value="Estoque">Entregue ao Cliente</option>
      <option value="Estoque">Manutenção</option>
      <option value="Estoque">Desativado</option>
      <option value="Estoque">Estoque</option>   
    </select>
  </div>
  <div class="form-group col-lg-4">
    <p class="movap-nomes" align="left">Data da Movimentação</p>
    <input type="date" class="form-control" id="datamov" name="device[dateMov]" value="{{device.dateMov}}">
  </div>
  <div class="form-group col-lg-4">
    <p class="movap-nomes" align="left">Observações</p>
    <textarea class="form-control" name="device[note]" cols="30" rows="4">{{device.note}}</textarea >
  </div>
  <div class="form-group justify-content-start col-md-8 d-flex movap">
    <input type="submit" value="CONFIRMAR" class="btn btn-primary" >
  </div>

</form>

<script src="/javascripts/clients-dropdown.js"></script>
